.SelectedWork{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 60px;
}

.MyExcitel{
    padding: 60px;
    margin-top: 650px;
    position: absolute;
    display: flex;
    align-items: center;
}

.MoreWork{
    padding: 60px;
    margin-top: 1200px;
    position: absolute;
    display: flex;
    align-items:baseline;
}

.flesh{
    padding: 60px;
    margin-top: 1400px;
    position: absolute;
    display: flex;
}

.title{
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: 600;
    line-height: 1.25;
    font-style: normal;
    text-align: left;
}

.fleshOut{
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: 600;
    line-height: 1.25;
    font-style: normal;
    text-align: left;
    width: 400px;
}


.slide01{
    width: 770px !important;
    border-radius: 10px;
}

.textsWork{
    margin-left: 40px;
    margin-top: 70px;
    width: 400px;
}

.OtherTexts{
    margin-right: 40px;
    width: 380px;
}

.L20{
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    width: 400px;
}

.work{
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: 600;
    line-height: 1.25;
    font-style: normal;
    text-align: left;
    width: 550px;
}

.highlight {
    color: #B7C0C0;
    font-weight: 600;
}

.UI{
    font-family: 'Montserrat';
    font-size: 1em;
    color: lightgray;
    font-weight: 200;
    font-style: normal;
    text-align: left;   
}

.design{
    font-family: 'Merriweather', serif;
    font-size: 1em;
    text-align: left;
    line-height: 35px;
    color: #8B9296;
    margin-top: 20px;
}

.designcrafter{
    font-family: 'Merriweather', serif;
    font-size: 1em;
    text-align: left;
    line-height: 2;
    color: #8B9296;
    margin-left: 130px;
    width: 640px;
    font-weight: 300;
}

.K{
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: 600;
    font-style: normal;
    text-align: left; 
    line-height: 3px;
}

.people{
    font-family: 'Montserrat';
    font-size: 1em;
    color: #747D83;
    font-style: normal;
    text-align: left;  
    font-weight: 600; 
}

.recent{
    font-family: 'Montserrat';
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    font-size: 0.75em;
    background-color: #EEF0FF !important;
    font-weight: 600;
    overflow: hidden;
    border: none;
    height: 3rem;
    width: 13rem;
    margin-left: 430px;
}

.recent:hover{
    background-color: #D1D7FF !important;
    border: none;
    transition: all 0.2s linear;
}