.SelectedWork{
    position: absolute;
    display: flex;
    align-items: center;
    line-height: normal;
}

.title{
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: 600;
    font-style: normal;
    text-align: left;
}

.slide01{
    margin: 20px;
    width: 650px;
}

.textsWork{
    margin: 80px;
    margin-top: 190px;
}

.L20{
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    width: 300px;
}

.UI{
    font-family: 'Montserrat';
    font-size: 20px;
    color: lightgray;
    font-weight: 200;
    font-style: normal;
    text-align: left;   
}

.design{
    font-family: 'Merriweather';
    font-size: 1em;
    font-style: normal;
    text-align: left;
    line-height: 35px;
    color: gray;
    margin-top: 20px;
    width: 400px;
}

.K{
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    text-align: left; 
}

.people{
    font-family: 'Montserrat';
    font-size: 18px;
    color: gray;
    font-style: normal;
    text-align: left;   
}