.first{
    margin-top: 45px;
    position: relative;
    display: flex;
    align-items: center;
    line-height: normal;
    overflow: hidden;
}

.texts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    margin-left: 8.5%;
}

.text1{
    font-family: 'Montserrat';
    font-size: 0.75em;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    font-variant: small-caps;
    text-align: left;
}

.text2{
    font-family: 'Montserrat';
    font-size: 4.5em;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    margin-top: 15px;
}

.text3{
    font-family: 'Merriweather';
    font-size: 1em;
    font-style: normal;
    text-align: left;
    line-height: 35px;
    color: gray;
    margin-top: 20px;
    width: 100%;
}

.learn{
    font-family: 'Montserrat';
    font-variant: small-caps;
    font-size: 0.75em;
    letter-spacing: 2px;
    margin-top: 30px;
    height: 50px;
    width: 160px;
    color: white;
    margin-right: 10px;
}

.image07{
    height: 40px;
    margin-top: 30px;
}

.image01{
    height: 530px;
    margin: 50px;
}
